<nav class="uk-navbar-container uk-margin" uk-navbar>
  <div class="uk-navbar-left">
    <div class="uk-navbar-item">
      <form action="javascript:void(0)">
        <button class="uk-button-primary uk-icon-button uk-margin-medium-right" uk-icon="icon: plus"></button>
        <button class="uk-button-secondary uk-icon-button uk-margin-medium-right" uk-icon="icon: ban"></button>
        <button class="uk-button-danger uk-icon-button uk-margin-medium-right" uk-icon="icon: trash"></button>
      </form>
    </div>
  </div>
</nav>
