<nav class="uk-navbar-container uk-margin" uk-navbar>
  <div class="uk-navbar-center">
    <a class="uk-navbar-item uk-logo" routerLink="/">
      Mr. Magnet
    </a>
  </div>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li>
        <a routerLink="/">
          <span class="uk-icon uk-margin-small-right" uk-icon="icon: plus"></span>
          Add
        </a>
      </li>
    </ul>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li *ngIf="searchMode">
        <a (click)="toggleSearchMode()">
          <span class="uk-icon uk-margin-small-right" uk-icon="icon: list"></span>
        </a>
      </li>
      <li *ngIf="!searchMode">
        <a href="#search-modal" uk-toggle>
          <span class="uk-icon uk-margin-small-right" uk-icon="icon: search"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
