<div class="grid grid-pad top-panel">
    <div class="col-7-12">
        <div class="content">
            <div class="btn green uppercase" ng-click="showTorrentDialog($event)">
                <img src="svg/add.svg" id="top-panel-add-file"/>
                <p>Torrent</p>
            </div>
            <div class="btn red uppercase" ng-click="showMagnetField($event)">
                <img src="svg/add-red.svg" id="top-panel-add-magnet"/>
                <p>Magnet</p>
            </div>
            <div class="btn yellow uppercase">
                <img src="svg/pause.svg" id="top-panel-pause"/>
                <p>Pause</p>
            </div>
        </div>
    </div>
    <div class="col-5-12">
        <div class="content red">
            Mr. Magnet
        </div>
    </div>
    <div class="col-1-1 magnet-panel hide">
        <div class="content red">
            <input type="text"
                   ng-model="magnetUrl"
                   ng-paste="applyMagnetUrl($event)"
                   id="magnet-field"
                   placeholder="Paste magnet url here"/>
        </div>
    </div>
</div>

<div class="file-list">
    <div ng-if="files.length === 0" class="file center no-data">
        <h2>
            No torrents
        </h2>
    </div>

    <div ng-if="files.length !== 0" class="grid grid-pad file" ng-repeat="file in files">
        {{ file }}
        <div class="col-2-12">
            <div class="content">
                <div class="progress">
                    <p class="percent red">100%</p>
                    <img src="svg/progress.svg" alt=""/>
                </div>
            </div>
        </div>
        <div class="col-10-12">
            <h2>
                MUTEMATH - Vitals (Limited Edition) - 2015 (320 kbps)
            </h2>
            <div class="size green">
                14 GB
            </div>
            <div class="speed">
                <div class="upload">
                    <img src="svg/upload.svg" alt=""/>
                    <p class="red">12.5 KB/s</p>
                </div>
                <div class="download">
                    <img src="svg/download.svg" alt=""/>
                    <p class="blue">12.5 KB/s</p>
                </div>
            </div>
            <div class="controls">
                <div class="btn">
                    <img src="svg/pause-blue.svg">
                </div>
                <div class="btn">
                    <img src="svg/folder.svg">
                </div>
                <div class="btn">
                    <img src="svg/minus.svg">
                </div>
            </div>
        </div>
    </div>
</div>
