<div class="uk-card uk-card-body uk-card-small uk-animation-slide-bottom-medium"
     *ngFor="let torrent of torrents">
  <div class="uk-flex">
    <a href="#" class="uk-margin-small-right" uk-icon="icon: folder"></a>
    <h3 class="uk-card-title uk-margin-remove-bottom uk-margin-remove-top">
      {{ torrent.name }}
    </h3>
  </div>
  <progress id="progressbar" class="uk-progress" value="{{ torrent.progress }}" max="1"></progress>
  <ul class="uk-iconnav uk-float-left">
    <li>
      <a href="#" class="uk-float-left uk-margin-small-right" uk-icon="icon: cloud-download"></a>
      <span href="" class="uk-text-small uk-float-left">{{ torrent.downloadSpeed | bytes }}</span>
    </li>
    <li>
      <a href="#" class="uk-float-left uk-margin-small-right" uk-icon="icon: cloud-upload"></a>
      <span href="" class="uk-text-small uk-float-left">{{ torrent.uploadSpeed | bytes }}</span>
    </li>
  </ul>

  <ul class="uk-iconnav uk-float-right">
    <li>
      <a href="#" class="uk-float-left uk-margin-small-right" uk-icon="icon: database"></a>
      <span href="" class="uk-text-small uk-float-left">{{ torrent.length | bytes }}</span>
    </li>
  </ul>
</div>
