<div class="uk-card uk-card-hover uk-card-body uk-card-small uk-animation-slide-bottom-medium uk-visible-toggle"
     *ngFor="let torrent of torrents"
     [ngClass]="{'uk-disabled': !torrent.length}">
  <ul class="uk-iconnav uk-float-left">
    <li *ngIf="torrent.done">
      <a class="uk-float-left uk-text-primary uk-text-success"
         uk-icon="icon: check"></a>
    </li>
    <li *ngIf="!torrent.done">
      <div uk-spinner="ratio: 0.5" style="line-height: 100%"></div>
    </li>
    <li class="ellipsis">
      <h3 class="uk-card-title uk-margin-remove-bottom uk-margin-remove-top" (click)="showItemInFolder(torrent.path)">
        {{ torrent.name }}
      </h3>
    </li>
  </ul>
  <ul class="uk-iconnav uk-float-right">
    <li>
      <a (click)="showItemInFolder(torrent.path)" class="uk-float-left uk-text-primary uk-hidden-hover"
         uk-icon="icon: folder"></a>
    </li>
  </ul>
  <br clear="all"/>
  <progress id="progressbar"
            class="uk-progress"
            value="{{ torrent.progress }}" max="1"></progress>
  <ul class="uk-iconnav uk-float-left">
    <li>
      <a class="uk-float-left uk-margin-small-right uk-text-primary" uk-icon="icon: clock"></a>
      <span href=""
            class="uk-text-small uk-float-left uk-text-primary">{{ torrent.timeRemaining | millisToMinutes }}</span>
    </li>
    <li>
      <a class="uk-float-left uk-margin-small-right" uk-icon="icon: database"></a>
      <span href="" class="uk-text-small uk-float-left">{{ torrent.length | bytes }}</span>
    </li>
    <li>
      <a class="uk-float-left uk-margin-small-right" uk-icon="icon: users"></a>
      <span href="" class="uk-text-small uk-float-left">{{ torrent.numPeers }}</span>
    </li>
    <li>
      <a class="uk-float-left uk-margin-small-right" uk-icon="icon: cloud-download"></a>
      <span class="uk-text-small uk-float-left">{{ torrent.downloadSpeed | bytes }}</span>
    </li>
    <li>
      <a class="uk-float-left uk-margin-small-right" uk-icon="icon: cloud-upload"></a>
      <span href="" class="uk-text-small uk-float-left">{{ torrent.uploadSpeed | bytes }}</span>
    </li>
  </ul>
  <ul class="uk-iconnav uk-float-right uk-hidden-hover">
    <li>
      <a
        class="uk-float-left uk-text-danger"
        uk-icon="icon: minus-circle"
        (click)="removeTorrent(torrent)"></a>
    </li>
  </ul>
</div>
