<magnet-header [searchMode]="searchMode"
               (toggleSearchModeEvent)="toggleSearchMode($event)"></magnet-header>

<magnet-search-modal [searchMode]="searchMode"
                     (toggleSearchModeEvent)="toggleSearchMode($event)"
                     (searchResultEvent)="getSearchResult($event)"></magnet-search-modal>

<magnet-torrents-list *ngIf="!searchMode"></magnet-torrents-list>

<magnet-search-list *ngIf="searchMode"
                    [searchResultSubject]="searchResultSubject"
                    [searchMode]="searchMode"
                    (toggleSearchModeEvent)="toggleSearchMode($event)"></magnet-search-list>
