@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$global-font-family: 'Open Sans', sans-serif;
$global-color: #ecf0f1;
$global-emphasis-color: #ecf0f1;
$global-background: #34495e;
$global-muted-color: #bdc3c7;
$global-danger-background: #e74c3c;
$global-success-background: #2ecc71;
$global-warning-background: #f1c40f;

$navbar-background: #2c3e50;
$card-title-font-size: 14px;

@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";

// Custom mixin overwrites
//@mixin hook-card() {
//  color: #000;
//}

@import "../node_modules/uikit/src/scss/uikit-theme.scss";

html, body {
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  cursor: default !important;
}

//
//.uk-card {
//  border-top: 1px solid #323A45;
//}
//
//.uk-card:hover {
//  background: #323A45;
//}
