<div class="uk-margin-xlarge-top" *ngIf="!searchResult.length" uk-spinner></div>

<div class="uk-card uk-card-body uk-card-small uk-animation-slide-bottom-medium"
     *ngFor="let item of searchResult"
     (click)="download(item)">
  <h3 class="uk-card-title">
    {{ item.title }}
  </h3>
  <ul class="uk-iconnav uk-float-left">
    <li>
      <a href="#" class="uk-float-left uk-margin-small-right" uk-icon="icon: users"></a>
      <span href="" class="uk-text-small uk-float-left">{{ item.seeds }}</span>
    </li>
    <li>
      <a href="#" class="uk-float-left uk-margin-small-right" uk-icon="icon: users"></a>
      <span href="" class="uk-text-small uk-float-left">{{ item.leechs }}</span>
    </li>
  </ul>
  <ul class="uk-iconnav uk-float-right">
    <li>
      <a href="#" class="uk-float-left uk-margin-small-right" uk-icon="icon: database"></a>
      <span href="" class="uk-text-small uk-float-left">{{ item.size }}</span>
    </li>
  </ul>
</div>
