<div class="uk-child-width-1 uk-grid-match" uk-grid>
  <div class="uk-margin-xlarge-top" *ngIf="!searchResult.length" uk-spinner></div>
  <div *ngFor="let item of searchResult">
    <div class="uk-card uk-card-body uk-card-small" (click)="download(item)">
      <h3 class="uk-card-title">
        {{ item.title }}
      </h3>
      <ul class="uk-iconnav uk-float-left">
        <li>
          <a href="#" class="uk-text-primary uk-float-left uk-margin-small-right" uk-icon="icon: users"></a>
          <span href="" class="uk-text-small uk-text-primary uk-float-left">{{ item.seeds }}</span>
        </li>
        <li>
          <a href="#" class="uk-text-danger uk-float-left uk-margin-small-right" uk-icon="icon: users"></a>
          <span href="" class="uk-text-small uk-text-danger uk-float-left">{{ item.leechs }}</span>
        </li>
      </ul>
      <ul class="uk-iconnav uk-float-right">
        <li>
          <a href="#" class="uk-text-success uk-float-left uk-margin-small-right" uk-icon="icon: bookmark"></a>
          <span href="" class="uk-text-success uk-text-small uk-float-left">{{ item.category }}</span>
        </li>
        <li>
          <a href="#" class="uk-text-warning uk-float-left uk-margin-small-right" uk-icon="icon: copy"></a>
          <span href="" class="uk-text-small uk-text-warning uk-float-left">{{ item.size }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
